.grid {
            display: grid;
            grid-template-columns: repeat(10, 40px);
            grid-gap: 2px;
        }

        .cell {
            width: 40px;
            height: 40px;
            background-color: #ccc;
            border: 1px solid #999;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }
 .valid {
            background-color: #ccc;
        }

        .bomb {
            background-color: #ff6666;
        }

        .checked {
            background-color: #e6e6e6;
            cursor: default;
        }
 .flag {
            background-color: #ffcc00;
            cursor: pointer;
        }

        #result {
            margin-top: 10px;
            font-size: 20px;
        }

        #flagsLeft {
            font-weight: bold;
        }
